// app global css in SCSS form
.font-14 {
  font-size: 14px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-24 {
  font-size: 24px !important;
}


.fondo-gris {
  background-color: $custom-gray;
}